body {
  font-size: 70px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container div {
  width: 280px;
}

.calc {
  text-align: center;
  background: grey;
  padding: 10px 0 10px 0;
}

.result {
  text-align: right;
  background: #669900;
  width: 240px !important;
  margin: 0 auto;
}

.digits-container {
}

.operations-container {
}

button {
  font-size: 25px;
  margin: 5px 0 5px 0;
  width: 50px;
  background: antiquewhite;
  border: none;
  outline: none;
}

button:active {
  transform: translateY(2px);
}
